/*
 * Reset
 */
html,
body,
p,
h1, h2, h3, h4, h5, h6
ol, ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

/*
 * Layout
 */

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 45em;
  width: 90%;
}

.column {
  float: left;
  padding-left:1em;
  padding-right:1em;
}

.column.full {
  width: 100%;
}

.column.half {
  width: 50%;
}

.column.third {
  width: 33%;
}

.column.two-thirds {
  width: 66%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after,
.media:after {
  clear: both;
}

.row,
.media {
  *zoom: 1;
}

.media .object {
  float:left;
  margin-right: .75em;
}

.media .object img {
  width: 100%;
}

.media .body {
  overflow: hidden;
  _overfow: visible;
}

/*
 * Miscellaneous
 */

html {
  color: #FFF;
  background: #111;
  font-family: "Helvetica Neue", "Roboto", "Open Sans", sans-serif;
}

body {
  font-size: 1em;
  line-height: 1.5em;
}

th {
  text-align: left;
}

h2 {
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 0.05em;
  margin: .75em 0;
}

.player {
  width:100%;
  color: #333;
}

.song {
  cursor: pointer;
  padding: .5em .5em;
  margin: 0 -0.5em;
}

.song:hover {
  background: #333;
}

.song .artist {
  color: #AAA;
  font-size: .875em;
}

.song .artwork {
  height: auto;
  width: 3em;
}

.playing {
  background: #1DB955;
}

/*1DB955*/
